<div class="text-center mt-4"><%= image_tag("lia_normal.png", width:'150em') %> </div>

<div class="text-center mt-4 mb-5">
	<h6>Olá meninas! Para fazer um <b>agendamento</b>,<br> por favor preencha esse formulário.</h6>
	<small style="font-size: 0.8rem">Chegar sempre no horário, por favor, não se atrasem!</small>
</div>

<div class="d-flex justify-content-center">
	<div class="card shadow " style="width:25rem">
		<div class="p-4">
			<%= render 'form', agendamento: @agendamento %>
		</div>
	</div>
</div>

<div class="text-center mt-5"><h4>CABELO</h4></div>
<div class=" d-flex justify-content-center">
<table class="table table-preco" style="width: 25rem">
    <thead>
      <tr>
        <th>Serviço</th>
        <th>Preço</th>        
      </tr>
    </thead>

    <tbody>
      
			<tr>
				<td><b>Escova Inteligente</b></td>
				<td>R$120,00</td>
			</tr>
			<tr>
				<td><b>Escova Orgânica</b></td>
				<td>R$120,00</td>
			</tr>
			<tr>
				<td><b>Botox</b></td>
				<td>R$80,00</td>
			</tr>
			<tr>
				<td><b>Hidratação</b></td>
				<td>R$40,00</td>
			</tr>
			<tr>
				<td><b>Hidratação com Escova</b></td>
				<td>R$60,00</td>
			</tr>
			<tr>
				<td><b>Coloração</b></td>
				<td>R$30,00</td>
			</tr>
			<tr>
				<td><b>Coloração com Escova</b></td>
				<td>R$45,00</td>
			</tr>
			<tr>
				<td><b>Escova</b></td>
				<td>R$25,00</td>
			</tr>
			<tr>
				<td><b>Prancha</b></td>
				<td>R$25,00</td>
			</tr>
			<tr>
				<td><b>Escova com Prancha</b></td>
				<td>R$35,00</td>
			</tr>

    
    </tbody>
  </table>
</div>
<div class="text-center mt-5"><h4>UNHAS</h4></div>
<div class=" d-flex justify-content-center">
<table class="table" style="width: 25rem">
    <thead>
      <tr>
        <th>Serviço</th>
        <th>Preço</th>        
      </tr>
    </thead>

    <tbody>
      
			<tr>
				<td><b>Pé e mão</b></td>
				<td>R$35,00</td>
			</tr>
			<tr>
				<td><b>Mão</b></td>
				<td>R$20,00</td>
			</tr>
			<tr>
				<td><b>Pé</b></td>
				<td>R$20,00</td>
			</tr>
			<tr>
				<td><b>Spa dos pés</b></td>
				<td>R$50,00</td>
			</tr>
			<tr>
				<td><b>Blindagem</b></td>
				<td>R$50,00</td>
			</tr>
			<tr>
				<td><b>Banho de gel</b></td>
				<td>R$40,00</td>
			</tr>
			<tr>
				<td><b>Unhas postiças</b></td>
				<td>R$40,00</td>
			</tr>
			<tr>
				<td><b>Unhas acrílico</b></td>
				<td>R$100,00</td>
			</tr>
			<tr>
				<td><b>Manutenção acrílico</b></td>
				<td>R$80,00</td>
			</tr>
    
    </tbody>
  </table>
</div>



