@import "bootstrap";

.bg-login{
  background-image: url('bg-login.jpg');
  background-size: cover;
  background-position: center;
    
}

.footer-- { 
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
}

.bg-roxo{
  background-color: #572057 !important;
  border: none !important;
}

.color-roxo{
  color: #572057 !important;
}