@import "bootstrap";


.bg-login{
  background-image: url('bg-login.jpg');
  background-size: cover;
  background-position: center;
    
}

.hide{
  display: none !important;
}

.footer-- { 
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
}

.bg-roxo{
  background-color: #572057 !important;
  border: none !important;
}

.color-roxo{
  color: #572057 !important;
}

.pagination {
  --#{$prefix}pagination-color: #fff !important;
  --#{$prefix}pagination-bg: #572057 !important;
  --#{$prefix}pagination-active-bg: #8b8a8a !important;
  --#{$prefix}pagination-active-border-color: none !important;
}

.page-item{
  color: #572057;
}


////teste validaçção
input.aviso{
  background-image: url('aviso.png');
  background-size: 5%;
  background-position: right 5% bottom 45%;;
  background-repeat: no-repeat;


}

.error_message {
  color: #e50027;
  font-size: 0.7rem;
  margin-top: 5px;
}
/// 

////responsive
.ocultar-res{
  display: none !important;
}

@media screen and (max-width: 360px){
  .table {
    display: flex !important;
    width: 100% !important;
   }

   .table tbody tr{
    
    width: 100% !important;
   }

   .table tr td{
    display: flex !important;
    width: 100% !important;
   }
 
   .table tbody{
     width: 100% !important;
   }
 
   .div-pagy{
    width: 50% !important;
   }
 
  
  .table th{
   display: none !important;
  }

  .font-size8{
    font-size: 0.8rem;
  }

  .hide--{
    display: none !important;
  }

  .ocultar-res{
    display: block !important;
  }

  .border-botton{
    border-bottom: 1px solid black !important;
  }
}
@media screen and (max-width: 428px){
  .table {
   display: flex !important;
   width: 100% !important;
  }
  .table tr td{
   display: flex !important;
   width: 100% !important;
  }

  .table tbody{
    width: 100% !important;
  }

  .table th{
   display: none !important;
  }

  .font-size8{
    font-size: 0.8rem;
  }

  .hide--{
    display: none !important;
  }

  .ocultar-res{
    display: block !important;
  }

  .border-botton{
    border-bottom: 1px solid black !important;
  }
}