@import "bootstrap";

.bg-login{
  background-image: url('bg-login.jpg');
  background-size: cover;
  background-position: center;
    
}

.footer-- { 
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
}

.bg-roxo{
  background-color: #572057 !important;
  border: none !important;
}

.color-roxo{
  color: #572057 !important;
}

////responsive
.ocultar-res{
  display: none !important;
}

@media screen and (max-width: 360px){
  .table {
    display: flex !important;
    width: 100% !important;
    border: 1px solid red !important;
   }

   .table tbody tr{
    
    width: 100% !important;
   }

   .table tr td{
    display: flex !important;
    width: 100% !important;
   }
 
   .table tbody{
     width: 100% !important;
   }
 
 
  
  .table th{
   display: none !important;
  }

  .font-size8{
    font-size: 0.8rem;
  }

  .hide--{
    display: none !important;
  }

  .ocultar-res{
    display: block !important;
  }

  .border-botton{
    border-bottom: 1px solid black !important;
  }
}
@media screen and (max-width: 428px){
  .table {
   display: flex !important;
   width: 100% !important;
  }
  .table tr td{
   display: flex !important;
   width: 100% !important;
  }

  .table tbody{
    width: 100% !important;
  }

  .table th{
   display: none !important;
  }

  .font-size8{
    font-size: 0.8rem;
  }

  .hide--{
    display: none !important;
  }

  .ocultar-res{
    display: block !important;
  }

  .border-botton{
    border-bottom: 1px solid black !important;
  }
}