<nav class="navbar bg-light shadow ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">
      <%= image_tag("lia_normal.png", width:'100') %> 
    </a>
    <div class="fw-bold" style="color: #572057">Av. Padre Anchieta, 123</div>
  </div>
</nav>